# Node & Frontend dependencies
**/node_modules/
**/dist/
**/.env
**/.env.local
**/.env.*.local
*.log
.DS_Store
Thumbs.db
.vscode/

# Untracked visualizer directory
visualizer/

# Problem directory
problem/
